# Dependencies
node_modules
nodejs-layers
package-lock.json

# Environment
.env
.env.*
!.env.example
env.*

# IDE
.vscode
.vscode/settings.json
eslint.config.mjs

# Build
dist/
build/
lib/
*.tsbuildinfo
.aws-sam
