<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Magic Link to Career Canvas</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://i.postimg.cc/Sx1xzz7C/logo-bg-ts.png"
      rel="icon"
      type="image/png"
    />
  </head>

  <body
    style="
      align-items: center;
      background-color: #f4f4f4;
      display: flex;
      font-family: 'Open Sans', sans-serif;
      height: calc(100vh - 40px);
      justify-content: center;
      margin: 0;
      padding: 20px;
      text-align: center;
    "
  >
    <div
      style="
        background: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        margin: auto;
        max-width: 600px;
        padding: 20px 60px;
      "
    >
      <img
        alt="Career Canvas App Logo"
        src="https://i.postimg.cc/Sx1xzz7C/logo-bg-ts.png"
        style="margin-bottom: 4px; max-width: 150px"
      />
      <h2>Welcome to Career Canvas!</h2>
      <p>Click the button below to log in instantly.</p>
      <a
        href="<%= magicLink %>"
        style="
          background-color: #0052cc;
          border-radius: 5px;
          color: #ffffff;
          display: inline-block;
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 8px;
          margin-top: 20px;
          padding: 12px 24px;
          text-decoration: none;
        "
        >Login Now</a
      >
      <p style="color: #777; font-size: 12px; margin-top: 20px">
        &copy; 2025 Career Canvas. All rights reserved.
      </p>
    </div>
  </body>
</html>
