<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>OTP for Career Canvas Account Verification</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://career-canvas-media.s3.ap-southeast-1.amazonaws.com/93ffa903-70c9-42cc-8100-3d50680b6014"
      rel="icon"
      type="image/png"
    />
  </head>

  <body
    style="
      align-items: center;
      background-color: #f4f4f4;
      display: flex;
      font-family: 'Open Sans', sans-serif;
      height: calc(100vh - 40px);
      justify-content: center;
      margin: 0;
      padding: 20px;
      text-align: center;
    "
  >
    <div
      style="
        background: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        margin: auto;
        max-width: 600px;
        padding: 20px 60px;
      "
    >
      <img
        alt="Career Canvas App Logo"
        src="https://career-canvas-media.s3.ap-southeast-1.amazonaws.com/93ffa903-70c9-42cc-8100-3d50680b6014"
        style="margin-bottom: 4px; max-width: 150px"
      />
      <h2>Welcome to Career Canvas!</h2>
      <p>
        Your One-Time Password (OTP) for Career Canvas account verification is
        <%= otp %>.
      </p>
      <p style="color: #777; font-size: 12px; margin-top: 20px">
        &copy; 2025 Career Canvas. All rights reserved.
      </p>
    </div>
  </body>
</html>
