<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title><%= title %></title>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://i.postimg.cc/Sx1xzz7C/logo-bg-ts.png"
      rel="icon"
      type="image/png"
    />
  </head>

  <body>
    <h1 style="color: red"><%= message %></h1>
  </body>
</html>
